{% extends "base.html" %}
{% block content %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<div class="container">
  <h1>YouTube Video Downloader</h1>
  <p>
    <span class="buff">당신은 종원의 축복을 받았습니다.</span><br>
    <span class="effect">종원의 축복 효과: 유튜브 동영상을 다운로드 할 수 있다.</span>
  </p>

  <form id="download-form" class="form">
      <input type="text" name="url" placeholder="YouTube URL 입력" required style="width: 400px;">
      <button type="submit">다운로드</button>
  </form>

  <div id="status"></div>

  <div class="content">
    <img src="{{ url_for('static', filename='image/jongwon1.png') }}" alt="jongwon" width="300">
  </div>

</div>
<script src="{{ url_for('static', filename='js/script.js') }}" > </script>
{% endblock %}